<div class="align-middle text-center">
<!-- List of Events -->
<div class="container-fluid">
  	<div class="row">
        <div class="card mt-5 ml-5 mr-5" style="height:200px" >
		    <div class="card">
			    <div class="card-body card-event">
                    <% if user_signed_in? %>
                        <%= link_to "Create Event", new_event_path , class: "btn btn-success m-2" %>
                    <% end %>
                </div>
            </div>
        </div>
	    <% @events.each do |event| %>
	    	<%= link_to event do %>
			    <div class="card mt-5 ml-5 mr-5" style="height:200px" >
			     	<div class="card">
			        	<div class="card-body card-event">
			        		<p class="text-info"><%= event.location %></p>
			         		<h5 class="text-info"><%= event.title %></h5>
			         		<p class="text-info"><%= event.start_date.strftime("%B %d, %Y")%></p>
			         		<% if user_signed_in? %>
			          		<%= link_to "Buy Now", new_event_order_path(@event) , class: "btn btn-danger text-white m-2" %>
			          		<% end %>
			       		</div>
			      	</div>
			    </div>
			<% end %>
		<% end %>
	</div>
</div>

</div>