<div class ='align-middle'>
  <div class="card mt-5 ml-5 mr-5 p-4">
    <div class="card-body">
    	<h5 class="card-title"><%= @event.title %> </h5>
    	<p class="card-title"><strong>Producer : </strong><%= @admin.first_name %><%=" "%> <%=@admin.last_name %></p>
    	<p class="card-title"><strong>Start date : </strong> <%= @event.start_date.strftime("%h %d %Y, %H:%M") %></p>
      <p class="card-title"><strong>End date   : </strong> <%= get_end_date(@event).strftime("%h %d %Y, %H:%M") %> </p>
      <p class="card-title"><strong>Duration : </strong><%= @event.duration %> min</p>
    	<p class="card-title"><strong>Location : </strong><%= @event.location %></p>
    	<p class="card-title"> <strong>Description : </strong></br></br> <%= @event.description %></p></br>  </br> 
    	<p class="card-title"><strong>Event created the : </strong><%= @event.created_at.strftime("%d/%m/%Y") %></p>
    	</br>	
   		<p class="card-title"><span class="float-left"><strong>Price :</strong> <%= @event.price %>$</span></p>
      </br>
   		<p  class="card-title float-left">This show has <%= @nb_guests %> participants</p></br></br>
   		<% if user_signed_in?%>
    	<% if is_event_admin?(@admin) %>
        	<%= link_to 'Edit', edit_event_path(@event) %> |
        	<%= link_to 'Destroy', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' }  %>
      	<% end %>
      	<% end %>

    </div>
  </div>
</div>